extends layout

block content
    #container
        #menu
            #video-item.menu-item
            #photo-item.menu-item
            #music-item.menu-item
            #settings-item.menu-item
        #content
            #home-content.content-item
                include content/home.jade
            #youtube-content.content-item.hidden
                include content/youtube.jade
            #video-content.content-item.hidden
                include content/videos.jade
            #photo-content.content-item.hidden
                include content/photos.jade
            #music-content.content-item.hidden
                include content/music.jade
            #settings-content.content-item.hidden
                include content/settings.jade
