.container-fluid.enable-scroll
    .row
        .col-xs-12
            h1 Mounted USB devices&nbsp;
                span.glyphicon.glyphicon-hdd
    .row
        .col-lg-8.col-lg-offset-2
            ul.usb-devices

            //.btn.btn-block.btn-lg.btn-default
            //    span.button-text  Default text here

