.container-fluid
    .row
        .col-xs-12
            h1#home-header Welcome to FunView!
    .row
p#home-text Open a browser on your smart phone and connect to the address: 
 span#home-localAddress #{localAddress}:#{port}/remote 
 | to access the remote control
img#home-icon(src="/images/iPhone.svg")
p#home-rights Copyright © 2015 Filip Djeze Bartus