extends layout-remote

block content
    #container
        #touch-area
            #normal-controls.controls
                .button-row
                    .button.unused
                    #up-button.button
                    .button.unused
                .button-row
                    #left-button.button
                    #ok-button.button
                    #right-button.button
                .button-row
                    .button.unused
                    #down-button.button
                    .button.unused
                .button-row
                    .button.unused
                    .button.unused
                    #refresh-button.button
            #video-controls.controls.hidden
                .button-row
                    #play-button.button
                    #pause-button.button
                    #stop-button.button
                .button-row
                    #fast-left-button.button
                    #fast-right-button.button
                    #subtitles-button.button
                .button-row
                    #volume-down-button.button
                    #volume-up-button.button
                    #subtitles-next-button.button
                .button-row
                    #subtitles-reduce-delay-button.button
                    #subtitles-increase-delay-button.button
                    #subtitles-prev-button.button
            #photo-controls.controls.hidden
                .button-row
                    .button.unused
                    #up-button.button
                    .button.unused
                .button-row
                    #left-button.button
                    #ok-button.button
                    #right-button.button
                .button-row
                    .button.unused
                    #down-button.button
                    .button.unused
                .button-row
                    #close-button.button
                    .button.unused
                    #refresh-button.button
            #music-controls.controls.hidden
                .button-row
                    .button
                    #up-button.button
                    .button
                .button-row
                    #left-button.button
                    #ok-button.button
                    #right-button.button
                .button-row
                    .button
                    #down-button.button
                    .button
                .button-row
                    #fast-left-button.button
                    #down-button.button
                    #fast-right-button.button
            #youtube-controls.controls.hidden
                .button-row
                    .button
                    #up-button.button
                    .button
                .button-row
                    #left-button.button
                    #ok-button.button
                    #right-button.button
                .button-row
                    .button
                    #down-button.button
                    .button
                .button-row
                    #fast-left-button.button
                    #down-button.button
                    #fast-right-button.button
        ul#menu
            li#videos
            li#photos
            li#music
            li#browser
            li#drives
