extends layout-settings

block content
    #container
        form(action="#")
            input(id="youtubeAPI" type="text" placeholder="Insert your Youtube API key" name="youtubeAPI").input-field
            a(href="/remote").back-button.control-button
            .unconfirmed-button.control-button(type="confirm")