/*
    BACKGROUND COLORS: #0099CC;
    BUTTON REMOTE COLORS: #00cc99;
    VOLUME: 22, 194, 251;
    #FF8300
    #E65F58
    #00CC99
    #0086B3
    #0086B3
    #0086B3
*/

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url("/images/skulls.png");*/
    background-color: #0099CC;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.alert {
    width: 95vw;
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    margin-top: 2rem;
    height: 3rem;

}

.hidden {
    -webkit-backface-visibility: hidden;
}

/*YOUTUBE RELATED CONTENT*/

#search-bar {
    width: 100vw;
    height: 5rem;
    display: block;
    float: left
    margin: auto;
    border: solid 1px black;
}

#back-button {
    width: 15vw;
    height: 3rem;
    display: block;
    float: right;
    margin: auto;
    background-image: url("/images/Youtube.svg");
    background-size: contain;
    background-color: #0086b3;
}

input {
    text-align: center;
}

.video {
    margin-bottom: 3rem;
}

#videos {
    padding: 0;
    margin-top: 1.5rem;
}

.video-title {
    font-size: 1.6rem
}

li {
    padding: 0;
    margin: 0;
    width: 100vw;
    list-style: none;   
}

iframe {
    display: block;
    margin: auto;
    width: 90vw;
    height: 55vw;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.download-bar {
    height: 23vh;
    width: 90vw;
    display: block;
    margin: auto;
    background-color: #0086b3;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    font-size: 2rem;
}

.download-buttons{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    height: 18vw;
    width: 18vw;
    /*background-color: #00688A;*/
    margin-left: 10vw;
    background-size: contain;
    border-radius: 1rem;
}

.control-button {
    display: inline-block;
    height: 25vw;
    width: 25vw;
    background-color: #0086B3;
    background-size: contain;
    border-radius: 1rem;
    border: 1px solid black;
    margin-left: 16.667vw;
    margin-top: 5rem;
}

p {
    padding-top: 0.5rem;
}

li:nth-child(1){
    margin-left: 0;
}

.download-video {
    background-image: url('/images/cc-icons/0043-file-video.svg');   
}

.download-song {
    background-image: url('/images/cc-icons/0041-file-music.svg');
}

/*STATUS ICON*/
.status-button {
    background-image: url('/images/cc-icons/0126-spinner4.svg');
}

.settings-button {
    background-image: url('/images/cc-icons/0149-cog.svg');
}

.back-button {
    background-image: url('/images/cc-icons/0102-undo.svg');
}

.finishedDownloading{
    background-image: url('/images/cc-icons/finish.svg');
}

.rotate {
    -webkit-animation:rotate 4s linear infinite;
    -moz-animation:rotate 4s linear infinite;
    animation:rotate 4s linear infinite;
}


@-moz-keyframes rotate { 100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(359deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(359deg); transform:rotate(359deg); } }
