doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/youtube.css')
    body
        block content
        script(src='/javascripts/config_scripts/config.js')  
        script(src="/javascripts/other_scripts/jquery-2.1.4.min.js")
        script(src='/javascripts/other_scripts/bootstrap.min.js')
        script(src='/javascripts/other_scripts/jquery.slimscroll.min.js')
        script(src="/socket.io/socket.io.js")
        script(src='/javascripts/funview_scripts/youtube.js')
        script(src='https://apis.google.com/js/client.js?onload=init')