extends layout-youtube

block content
    #container
        form(action="#")
            input(type="search" placeholder="Tap here to search for youtube videos" name="search-bar")#search-bar
        ul#videos
            //li.video
                iframe(src="https://www.youtube.com/embed/-vH2eZAM30s" frameborder="0" data-video-name='Test video' data-video-url='https://www.youtube.com/watch?v=-vH2eZAM30s' allowfullscreen)
                .download-bar
                    p   Downloads and status
                        ul.download-buttons
                            li.download-video.button
                            li.download-song.button
                            li.status-button.button