extends layout-youtube

block content
    #container
        form(action="#")
            input(type="search" placeholder="Tap here to search for youtube videos" name="search-bar")#search-bar
        ul#videos
        a(href="/remote").back-button.control-button
        a(href="/remote/settings").settings-button.control-button
